<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009386966112-6p75u4kqqdghmafjnd1ms852vfq6lond.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009386966112-6p75u4kqqdghmafjnd1ms852vfq6lond</string>
	<key>API_KEY</key>
	<string>AIzaSyDNYS0MQ6v7c8cVN7yRZKp69FE9_Znyd5I</string>
	<key>GCM_SENDER_ID</key>
	<string>1009386966112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todo.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-a6790</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-a6790.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009386966112:ios:f72dd90f7e4753658d8705</string>
</dict>
</plist>